ul {
	padding: 0px;
}

a {
	color: inherit;
}

.container.backend {
	padding: 0px;
	position: relative;
}

#header {
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: #428bca;
	box-shadow: 0px 0px 10px #666;
	z-index: 101;
}

#my-nav {
	height: calc(100% - 50px);
	position: fixed;
	top: 50px;
	width: 200px;
	transition: all 0.4s;
	z-index: 100;
}

.my-nav-box {
	background-color: #2A3F54;
	-webkit-display: flex;
	display: flex;
	flex-direction: column;
	color: #FFF;
	min-height: 100%;
	height: 100%;
	overflow-y: auto;
}

.my-nav-switch {
	width: 40px;
	height: 40px;
	position: fixed;
	left: 200px;
	background-color: #00a6cc;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}

@-moz-document url-prefix() {
	.my-nav-switch {
		top: 5px;
		position: absolute;
	}
}

.my-nav-switch .my-nav-switch-button-top {
	border-top: 3px solid #FFF;
	width: 20px;
	position: absolute;
	top: 13px;
	left: 10px;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.my-nav-switch .my-nav-switch-button-bottom {
	border-top: 3px solid #FFF;
	width: 20px;
	position: absolute;
	top: 25px;
	left: 10px;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

.my-nav-title-body {
	padding: 10px 0px;
	font-size: 18px;
	text-align: center;
}

.my-nav-title-body .my-nav-title-word {
	margin: 0px 5px;
}

.my-nav-tab>ul>li {
	position: relative;
	margin-bottom: 5px;
}

.my-nav-tab>ul>li>a {
	padding: 15px;
	position: relative;
	display: block;
	cursor: pointer;
	color: #CCC;
	font-size: 15px;
	transition: width, background 0.4s;
}

.my-nav-tab>ul>li>a:hover {
	text-decoration: none;
	color: #FFF;
}

.my-nav-tab>ul>li>a.select {
	box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
	background: linear-gradient(#334556, #2C4257), #2A3F54;
}

.my-nav-tab>ul>li>a.active {
	box-shadow: rgb(204, 204, 204) 1px 0px 5px;
	background: #f5f5f5;
	color: #428bca;
}

.my-nav-tab>ul>li>a .tab-icon {
	font-size: 18px;
}

.my-nav-tab-text {
	position: absolute;
	margin-left: 10px;
	opacity: 1;
	transition: all 0.4s;
}

.my-nav-tab-down {
	position: absolute;
	top: calc(50% - 15px/2);
	right: 15px;
}

.my-nav-tab-child-tab {
	display: block;
	overflow: hidden;
	height: 0px;
}

.my-nav-tab-child-tab>li {
	position: relative;
	padding-left: 30px;
}

.my-nav-tab-child-tab>li>a {
	padding: 15px 20px 15px 10px;
	display: block;
	cursor: pointer;
	color: #CCC;
	font-size: 14px;
}

.my-nav-tab-child-tab>li>a.active {
	background: #3a5773;
}

.my-nav-tab-child-tab>li>a:hover {
	text-decoration: none;
	color: #FFF;
}

.my-nav-tab-child-tab>li>a:after {
	content: "";
	position: absolute;
	width: 12px;
	height: 1px;
	background-color: #CACACA;
	top: 50%;
	left: 28px;
}

.my-nav-tab-child-tab>li>a:before {
	content: "";
	position: absolute;
	border-left: 1px solid #CACACA;
	top: 0;
	bottom: 0;
	left: 28px;
}

.my-nav-tab-child-tab>li:last-child>a:before {
	height: 50%;
}

#content {
	min-height: 1000px;
	transform: translateY(50px);
	padding: 45px 15px 20px 15px;
	background-color: #F9F9F9;
}

#content .contentItem {
	border: 1px solid #999;
	height: 200px;
	margin-bottom: 20px;
}

.backend.fold #my-nav {
	transform: translateX(-100%);
}

.no-selection::-moz-selection {
	background: transparent;
}

.no-selection::selection {
	background: transparent;
}

.mybreadcrumb {
	background-color: #DCDCDC;
}

@media (min-width: 768px) {
	.container.backend {
		width: 100%;
	}
}

@media (min-width: 992px) {
	.container.backend {
		width: 100%;
	}
	#my-nav {
		width: 250px;
		position: absolute;
		top: 50px;
		float: left;
	}
	.backend.fold #my-nav {
		width: 80px;
		transform: translateX(0px);
	}
	.my-nav-box {
		overflow-y: visible;
	}
	.my-nav-switch {
		position: absolute;
		top: 5px;
		left: 100%;
	}
	.my-nav-tab>ul>li {
		margin-bottom: 0px;
	}
	.my-nav-tab>ul>li>a.active {
		width: calc(100% + 5px);
	}
	.backend.fold .my-nav-tab>ul>li>a.fold {
		text-align: center;
	}
	.backend.fold .my-nav-tab>ul>li>a.fold .tab-icon {
		font-size: 28px;
	}
	.backend.fold .my-nav-tab-text {
		opacity: 0;
	}
	.backend.fold .my-nav-tab-down {
		display: none;
	}
	.backend.fold .my-nav-tab-child-tab {
		max-width: 250px;
		min-width: 120px;
		position: absolute;
		left: 100%;
		top: 0px;
		background: #2a3f54;
		box-shadow: 0px 0px 15px #2A3F54;
		border-left: 5px solid #00a6cc;
	}
	.backend.fold .my-nav-tab-child-tab>li {
		padding-left: 0px;
	}
	.backend.fold .my-nav-tab-child-tab>li>a:after {
		content: none;
	}
	.backend.fold .my-nav-tab-child-tab>li>a:before {
		content: none;
	}
	.backend.fold .my-nav-tab-child-tab>li:last-child>a:before {
		height: 0px;
	}
	#content {
		width: calc(100% - 250px);
		float: left;
		transform: translateX(250px);
		padding-top: 100px;
	}
	.backend.fold #content {
		width: calc(100% - 80px);
		transform: translateX(80px);
	}
}

@media (min-width: 1200px) {
	.container.backend {
		width: 100%;
	}
}